<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/signup">
      <input type="text" id="name" name="name" placeholder="Sam Ree">
      <input type="email" id="email" name="email" place holder="sam@example.com">

      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
