<!DOCTYPE html>
<html>
  <head>
    <title>David Thanks You</title>
  </head>
  <body>
    <div id="contact-form">
      <h1> Thanks, for signing up, <%= @name%>!<h1>

      <p>We've sent a confirmation email to <%= @email %>.
      </p>
  </body>
</html>
